

.wow {
    visibility: hidden;
  }
  

  
  #venue {
    padding: 60px 0;
  }
  
  #venue .container-fluid {
    margin-bottom: 3px;
  }
  
  
  #venue .venue-info:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  
  
  
  
  
  #venue .venue-gallery {
    
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  
  #venue .venue-gallery img {
    transition: all ease-in-out 0.4s;
  }
  
  #venue .venue-gallery:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  
  